html{
  font-family: Calibri
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.button{
  margin: 25px;
  height: 65px;
  width: 65px;
  border-radius: 10px;
  background-color: rgb(32, 178, 122);
  outline: none;
}

.button:hover{
  transform: scale(1.1);
  border-radius: 25px;
  border-color: rgb(228, 118, 28);
}

img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}

#github-logo{
  width:20px;
  height: 20px;
  margin-bottom: -2px
}

#banner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

#playerScore{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

#computerScore{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}