html{
  font-family: Calibri
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

.button{
  margin: 25px;
  height: 200px;
  width: 200px;
  border-radius: 25px;
  background-color: lightseagreen;
  outline: none;
}

.button:hover{
  transform: scale(1.1);
  border-color: lightcoral;
}

img{
  width: 190px;
  height: 190px;
  border-radius: 20px;
}

footer{
  width: 100%;
  position: fixed;
  bottom: 0;
}

#github-logo{
  width:20px;
  height: 20px;
  margin-bottom: -2px
}